@import 'tailwindcss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --bg-primary-black: #212121;
  --theme-color: #181818;
  --primary-blue: #005cc3;
}

@theme {
  --color-primary-blue: var(--primary-blue);
  --color-primary-black: var(--bg-primary-black);
}

.hubfolio-text {
  font-size: 200px;
  font-weight: 900;
  line-height: 0.8;
  letter-spacing: -4px;
  color: rgba(255, 255, 255, 0.03);
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.1);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  filter: blur(2px);
  opacity: 0.8;
  user-select: none;
  pointer-events: none;
  transform: scale(1.2);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  cursor: none;
  color: white;
}

main {
  background-image: url('/bg-main.jpg');
  background-size: cover;
}

#smooth-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  min-height: 100vh;
  will-change: transform;
}

/* Hide default cursor */
* {
  cursor: none !important;
}

/* Custom cursor styles */
.cursor {
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor-follower {
  pointer-events: none;
  mix-blend-mode: difference;
}

.blend_of_simplicity:after {
  content: '';
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: -5%;
}

.featured_works:after {
  content: '';
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: -20%;
}
